#furnitureAttributesContainer{
  display:none;
}

input.attributeInput{
  width:50px;
}

.formContainer{


  width:400px;
  height:400px;
  border:1px solid black;
  margin:40px auto;
  font-size: 18px;
  font-family: sans-serif;
  text-align: center;
  vertical-align: center;
  background-color: lightblue;

  table td{
    min-width: 80px;
  }
}
.formContainer table {
  width:300px;
  margin-top: 15%;
  display:inline-block;
  text-align: left;
}

#attributeHint{
  display:inline-block;
  padding-bottom: 20px;
}
#buttonContainer{
  display:inline-block;
  margin:20px;
}
input[type=text], input[type=number]{
  padding:5px;
  outline:none;
  border:1px solid black;
  box-shadow: none;
}
#toast{
  font-family: "Arial Black";
  position:absolute;
  top:93vh;
  margin-left: 10px;
  border:1px solid olive;
  background-color: #5386E4;
  outline-style: solid;
  transform: translateY(-120%);
  width:300px;
  height:100px;
  display:none;
  padding:10px;
}
#toastMessage{
  width:100%;
  text-align: center;
  position:relative;
  top:50%;
  transform: translateY(-50%);
}


.formAttributeButton {
  cursor:pointer;
  outline:none;
  border:1px solid black;
  background-color: $formAttributeButtonColor;
  &:hover{
    background-color: lighten($formAttributeButtonColor,25%) ;
  }
  &:active{
    background-color: darken($formAttributeButtonColor,50%) !important;
    color:white;
  }
}
input.formActiveAttributeButton{
  background-color: darken($formAttributeButtonColor,50%);
  color:white;
  &:hover{
    background-color: darken($formAttributeButtonColor,50%) !important;
  }
}

.fading{animation:fading 4s }@keyframes fading{0%{opacity:0}15%{opacity:1}80%{opacity:1}100%{opacity:0; }}