@import "variables";
.buttonType1{
  background-color: #5386E4;
  border:1px solid black;
  outline:none;
  border-radius: 5px;
  font-weight: weight(bold);
  &:hover{
    background-color: lighten(#5386E4, 10%);
  }
  &:active{
    background-color: darken(#5386E4, 10%);
  }
}


#alertContainer{
  display:none;
  position:absolute;
  top:0;
  left:0;
  height: 100vh;
  width: 100vw;
  background-color:yellow;
  background-color: rgba(229,229,229, 0.6);
  text-align: center;
  vertical-align: center;

}
#alertBox{
  position:absolute;
  top:40%;
  left:50%;
  transform: translateY(-50%);
  transform: translateX(-50%);
  padding-top:50px;
  border:1px solid black;
  width:270px;
  text-align: center;
  display:inline-block;
  background-color: white;
  height:120px;


}
#alertButtons{
  margin-top:30px;
  text-align:center;
}

#alertText{
  padding:10px;
  max-width:260px;
}



