@import 'variables';
header{
  position:fixed;
  top:0px;
  background: #4C4B63;
  width:100%;
  color: Black;
  height: $menuHeight;
  nav{
    display:block;

    width:100% !important;
    margin:20px;

    a{
      color: black;
      font-weight: bold;
      text-decoration: none;
    }
  }
}

#spaceFiller{
  height:$menuHeight;
}