$primaryColor: #5386E4;
$formAttributeButtonColor: #85ff52;
$menuHeight: 50px;
$font-weights: (
        "regular": 400,
        "medium": 500,
        "bold": 700
);

@function weight($fontWeigh){
  @return map_get($font-weights,$fontWeigh)
};