.debug {
  background: lightblue; }

.info {
  background: cyan; }

.notice {
  background: azure; }

.warning {
  background: lightcoral; }

.error {
  color: #e4f1fe;
  background: red; }

.critical {
  color: #e4f1fe;
  background: darkred; }

.alert {
  background: chartreuse; }

.emergency {
  color: #e4f1fe;
  background: darkred; }

/*# sourceMappingURL=log.css.map */
