table {
  border: 1px solid black;
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%; }
  table td {
    border: 1px solid black;
    padding: 5px; }

.debug {
  background: lightblue; }

.info {
  background: cyan; }

.notice {
  background: azure; }

.warning {
  background: lightcoral; }

.error {
  color: #e4f1fe;
  background: red; }

.critical {
  color: #e4f1fe;
  background: darkred; }

.alert {
  background: chartreuse; }

.emergency {
  color: #e4f1fe;
  background: darkred; }

/*# sourceMappingURL=log.css.map */
