header {
  position: fixed;
  top: 0px;
  background: #4C4B63;
  width: 100%;
  color: Black;
  height: 50px; }
  header nav {
    display: block;
    width: 100% !important;
    margin: 20px; }
    header nav a {
      color: black;
      font-weight: bold;
      text-decoration: none; }

#spaceFiller {
  height: 50px; }

.buttonType1 {
  background-color: #5386E4;
  border: 1px solid black;
  outline: none;
  border-radius: 5px;
  font-weight: 700; }
  .buttonType1:hover {
    background-color: #7fa5eb; }
  .buttonType1:active {
    background-color: #2767dd; }

#alertContainer {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  background-color: yellow;
  background-color: rgba(229, 229, 229, 0.6);
  text-align: center;
  vertical-align: center; }

#alertBox {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translateY(-50%);
  transform: translateX(-50%);
  padding-top: 50px;
  border: 1px solid black;
  width: 270px;
  text-align: center;
  display: inline-block;
  background-color: white;
  height: 120px; }

#alertButtons {
  margin-top: 30px;
  text-align: center; }

#alertText {
  padding: 10px;
  max-width: 260px; }

#furnitureAttributesContainer {
  display: none; }

input.attributeInput {
  width: 50px; }

.formContainer {
  width: 400px;
  height: 400px;
  border: 1px solid black;
  margin: 40px auto;
  font-size: 18px;
  font-family: sans-serif;
  text-align: center;
  vertical-align: center;
  background-color: lightblue; }
  .formContainer table td {
    min-width: 80px; }

.formContainer table {
  width: 300px;
  margin-top: 15%;
  display: inline-block;
  text-align: left; }

#attributeHint {
  display: inline-block;
  padding-bottom: 20px; }

#buttonContainer {
  display: inline-block;
  margin: 20px; }

input[type=text], input[type=number] {
  padding: 5px;
  outline: none;
  border: 1px solid black;
  box-shadow: none; }

#toast {
  font-family: "Arial Black";
  position: absolute;
  top: 93vh;
  margin-left: 10px;
  border: 1px solid olive;
  background-color: #5386E4;
  outline-style: solid;
  transform: translateY(-120%);
  width: 300px;
  height: 100px;
  display: none;
  padding: 10px; }

#toastMessage {
  width: 100%;
  text-align: center;
  position: relative;
  top: 50%;
  transform: translateY(-50%); }

.formAttributeButton {
  cursor: pointer;
  outline: none;
  border: 1px solid black;
  background-color: #85ff52; }
  .formAttributeButton:hover {
    background-color: #dfffd2; }
  .formAttributeButton:active {
    background-color: #185200 !important;
    color: white; }

input.formActiveAttributeButton {
  background-color: #185200;
  color: white; }
  input.formActiveAttributeButton:hover {
    background-color: #185200 !important; }

.fading {
  animation: fading 4s; }

@keyframes fading {
  0% {
    opacity: 0; }
  15% {
    opacity: 1; }
  80% {
    opacity: 1; }
  100% {
    opacity: 0; } }
body {
  font-family: Arial;
  margin: 0px;
  padding: 0px;
  background: #949396;
  height: 100vh;
  overflow-y: hidden; }

#menuRight {
  width: 100%;
  background-color: grey;
  text-align: center; }

.mainContainer, .resultContainer {
  position: absolute;
  display: flex;
  flex-wrap: wrap;
  overflow-y: scroll;
  width: 100%;
  height: 92%;
  align-content: flex-start;
  margin-top: 50px; }

#filterMenu {
  display: inline-block;
  padding-left: 20px; }

.gradient-black1 {
  /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#4c4c4c+0,595959+12,666666+25,474747+39,2c2c2c+50,000000+51,111111+60,2b2b2b+76,1c1c1c+91,131313+100;Black+Gloss+%231 */
  background: #4c4c4c;
  /* Old browsers */
  background: -moz-linear-gradient(top, #4c4c4c 0%, #595959 12%, #666666 25%, #474747 39%, #2c2c2c 50%, black 51%, #111111 60%, #2b2b2b 76%, #1c1c1c 91%, #131313 100%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(top, #4c4c4c 0%, #595959 12%, #666666 25%, #474747 39%, #2c2c2c 50%, black 51%, #111111 60%, #2b2b2b 76%, #1c1c1c 91%, #131313 100%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, #4c4c4c 0%, #595959 12%, #666666 25%, #474747 39%, #2c2c2c 50%, black 51%, #111111 60%, #2b2b2b 76%, #1c1c1c 91%, #131313 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4c4c4c', endColorstr='#131313',GradientType=0 );
  /* IE6-9 */ }

.gradient-red1 {
  /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#a90329+0,8f0222+44,6d0019+100;Brown+Red+3D */
  background: #a90329;
  /* Old browsers */
  background: -moz-linear-gradient(top, #a90329 0%, #8f0222 44%, #6d0019 100%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(top, #a90329 0%, #8f0222 44%, #6d0019 100%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, #a90329 0%, #8f0222 44%, #6d0019 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a90329', endColorstr='#6d0019',GradientType=0 );
  /* IE6-9 */ }

.gradient-blue1 {
  /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#1e5799+0,2989d8+50,207cca+51,7db9e8+100;Blue+Gloss+Default */
  background: #1e5799;
  /* Old browsers */
  background: -moz-linear-gradient(top, #1e5799 0%, #2989d8 50%, #207cca 51%, #7db9e8 100%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(top, #1e5799 0%, #2989d8 50%, #207cca 51%, #7db9e8 100%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, #1e5799 0%, #2989d8 50%, #207cca 51%, #7db9e8 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1e5799', endColorstr='#7db9e8',GradientType=0 );
  /* IE6-9 */ }

.product-container {
  border: 1px solid black;
  padding: 5px;
  color: #e4f1fe;
  vertical-align: top;
  margin: 6px;
  margin-top: 10px;
  max-width: 300px;
  min-width: 150px;
  max-height: 200px; }
  .product-container ul {
    margin: 10px;
    padding: 10px;
    padding-top: 0px;
    margin-top: 0px;
    list-style-type: none; }
    .product-container ul li {
      line-height: 1.5rem;
      font-weight: 400;
      font-size: 15px; }

@media only screen and (max-width: 600px) {
  .product-container {
    min-width: 93%;
    max-width: 93%; } }
.title {
  display: inline-block;
  font-weight: 700;
  width: 60px;
  color: black;
  font-size: 17px; }

.checkBoxDiv {
  margin-bottom: 0px; }

/*# sourceMappingURL=main.css.map */
